@{
    ViewBag.Title = "About";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/about.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>About the Trek</h1>
                    <span class="subheading">UNI --> CF --> DEV</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Body-->
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-6">
            <p>
                <bold>M</bold>y interest in computers started when my Father’s Toshiba laptop’s screen began to flicker and eventually became inoperable.
                It fascinated me at a young age when the computer I presumed to be useless was plugged into a display and found a new lease on life.
                Since then I have been fascinated by the software and hardware that we so often think of as commodity devices.
                Today, I am a full stack developer with an ever-growing list of tools and skills prepared for your project!
                Feel free to spend a little time reading my posts and learning about my developer journey. I hope it will be an encouragement to you in yours!
            </p>
        </div>
        <div class="col-sm-2">
            <img src="~/img/KCP_9446.jpg" alt="HeadShot of Peter B. Guthrie" width="259" height="387" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-6"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-5 col-md-8">
            <p>
                This Blog was built as part of the Coder Foundry curriculum. Currently, I am pursuing a Bachelor of Science with an emphasis in Information Technology while
                working at Coder Foundry as a Full Stack Developer. It is my passion to use these tools for investing in people and meeting their needs.
                Beyond that I am an organized (Hopefully this site demonstrates this), action-oriented, and self-motivated individual who enjoys cycling and technology.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-5 col-md-8">
            <p id="portfolio">
                If you would like to get in contact with me I can be reached at <a href="mailto:peterbguthrie@gmail.com">peterbguthrie@gmail.com</a>. <br /> Alternately, you can contact me here: <a class="btn btn-outline-dark small" href=@Url.Action("Contact")>Contact me</a>
            </p>
        </div>
    </div>
</div>
